@charset "UTF-8";
/*gongu*/

#content.gongu .sec1 {margin-bottom:40px;}
.gongu_btns>div:not(:last-child){margin-bottom:20px;}
.gongu_btns>div>a{display:flex; flex-direction:column; padding:14px 10px 14px 16px; border-radius:15px; transition:0.1s;}
.gongu_btns>div>a:hover{box-shadow:0 4px 15px rgba(0,0,0,0.1);}
.gongu_btns>div span{margin-bottom:20px; color:rgba(0,0,0,0.5);font-size:12px;}
.gongu_btns>div em{display:flex; align-items:center; justify-content:space-between; font-family:'yg-jalnan'; font-size:20px;}
.gongu_btns>div em:after{content:''; width:22px; height:22px; background-image:url(../img/admin/content/chevron_right_b50.svg); background-size:cover;}
.btn_start>a{background-color:#D9E3F9;}
.btn_start em{color:#2064E8;}
.btn_close>a{background-color:#E1F0D2;}
.btn_close em{color:#4C9800;}

#content.gongu .sec2{flex:1 1 auto;}
#content.gongu .sec2>div{flex:1 1 auto; display:flex; flex-direction:column;}
/* .cnts {display:flex; flex-direction:column; min-height:117px; border-radius:15px; padding:18px 20px 0 18px; background-color:#E9EAEC;} */
.cnts {position:relative; display:flex; flex-direction:column; justify-content:flex-end; align-items:flex-end; flex:1 1 auto; max-height:117px; border-radius:15px; padding:18px 20px; background-color:#E9EAEC;}
.cnts:not(:last-child){margin-bottom:20px;}
.cnts>span{position:absolute; top:18px; left:20px; color:#7B8083; font-weight:500;}
.cnts>em{color:#41474E; text-align:right; font-size:50px; line-height:50px;}

/*gongu_list*/
.gongu_list{max-height:calc(100% - 96px);}
.gongu_list>.list_header>span:nth-child(1),.gongu_list .list_item>a>span:nth-child(1){width:10%;}
.gongu_list>.list_header>span:nth-child(2),.gongu_list .list_item>a>span:nth-child(2){flex:1 1 auto;}
.gongu_list>.list_header>span:nth-child(3),.gongu_list .list_item>a>span:nth-child(3){width:24%;}
.gongu_list>.list_header>span:nth-child(4),.gongu_list .list_item>a>span:nth-child(4){width:12%;}
.gongu_list>.list_header>span:nth-child(5),.gongu_list .list_item>a>span:nth-child(5){width:12%;}


/*gongu status*/
.gongu_list .list_item.reject{background-color:#eee; color:#999;}
.gongu_list .list_item .status {display:block; width:72px; border-radius:5px; background-color:#D9D9D9; color:#7B8083; text-align:center;}
.gongu_list .list_item.on .status{background-color:#457BE4; color:#fff;}


/*gonguDetailView*/
.gongu_form .frm_group .img{position:relative; width:150px; height:150px; background-color:#D9D9D9; overflow:hidden;}
.gongu_form .frm_group .img>img{position:absolute; top:50%; left:50%; height:150px; transform:translate(-50%,-50%);}

.gongu_info{position:relative}
.gongu_info .bts_gongu_status{position:absolute; top:0; right:0; z-index:99;}
.gongu_info .tab_menu a{padding:20px 20px 0 20px;}


/*order*/
.order_list>.list_header>span:nth-child(1),.order_list .list_item>a>span:nth-child(1){width:12%;}
.order_list>.list_header>span:nth-child(2),.order_list .list_item>a>span:nth-child(2){width:12%;}
.order_list>.list_header>span:nth-child(3),.order_list .list_item>a>span:nth-child(3){flex:1 1 auto;}
.order_list>.list_header>span:nth-child(4),.order_list .list_item>a>span:nth-child(4){width:12%;}
.order_list>.list_header>span:nth-child(5),.order_list .list_item>a>span:nth-child(5){width:12%;}
.order_list>.list_header>span:nth-child(6),.order_list .list_item>a>span:nth-child(6){width:12%;}

/*seller*/
.seller_list .list_item:hover{border:1px solid #E9EAEC;}
.seller_list>.list_header>span:nth-child(1),.seller_list .list_item>.inr>span:nth-child(1){width:12%;}
.seller_list>.list_header>span:nth-child(2),.seller_list .list_item>.inr>span:nth-child(2){width:20%;}
.seller_list>.list_header>span:nth-child(3),.seller_list .list_item>.inr>span:nth-child(3){width:20%;}
.seller_list>.list_header>span:nth-child(4),.seller_list .list_item>.inr>span:nth-child(4){width:20%;}
.seller_list>.list_header>span:nth-child(5),.seller_list .list_item>.inr>span:nth-child(5){width:20%;}
.seller_list>.list_header>span:nth-child(6),.seller_list .list_item>.inr>span:nth-child(6){width:8%;}

/*member*/
.member_list>.list_header>span:nth-child(1),.member_list .list_item>a>span:nth-child(1){width:20%;}
.member_list>.list_header>span:nth-child(2),.member_list .list_item>a>span:nth-child(2){width:20%;}
.member_list>.list_header>span:nth-child(3),.member_list .list_item>a>span:nth-child(3){width:20%;}
.member_list>.list_header>span:nth-child(4),.member_list .list_item>a>span:nth-child(4){width:25%;}
.member_list>.list_header>span:nth-child(5),.member_list .list_item>a>span:nth-child(5){width:15%;}

/*기타*/
.sec_header{display:flex; align-items:center; justify-content:space-between;}